.header {
    padding-top: 15px;
}

.member {
    display: inline-block;
    margin-right: 10px;
    width: 80px;
}

.story {
    display: inline-block;
    margin-right: 10px;
    width: 250px;
}

.story-icon {
    font-size: 70px;
}
